---
version: '3'

tasks:
  playbook:
    desc: Run an Ansible playbook
    cmd: ansible-playbook {{.ANSIBLE_DIR}}/playbooks/{{.PLAYBOOK}}.yml -i {{.ANSIBLE_DIR}}/inventory.yml
    preconditions:
      - msg: "Inventory not found at {{.ANSIBLE_DIR}}/inventory.yml. Run 'task configure' first."
        sh: "test -f {{.ANSIBLE_DIR}}/inventory.yml"

  install-cluster:
    desc: Install K3s cluster using Ansible
    cmds:
      - task: playbook
        vars: { PLAYBOOK: "site" }

  reboot-cluster:
    desc: Reboot cluster nodes using Ansible
    cmds:
      - task: playbook
        vars: { PLAYBOOK: "reboot" }

  reset-cluster:
    desc: Reset K3s cluster and delete all configurations
    prompt: "This will DELETE your K3s cluster and configurations. Are you sure (y/N)?"
    cmds:
      - task: playbook
        vars: { PLAYBOOK: "reset" }

  upgrade-cluster:
    desc: Upgrade K3s cluster using Ansible
    cmds:
      - task: playbook
        vars: { PLAYBOOK: "upgrade" }