---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  chartRef:
    kind: OCIRepository
    name: longhorn
  interval: 1h
  values:
    ingress:
      enabled: false
    defaultSettings:
      defaultDataLocality: "best-effort"
    persistence:
      defaultClassReplicaCount: 1
    longhornUI:
        replicas: 1